.Header{
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.headerLinks{
    display: flex;
    align-items: center;
}

@media(min-width: 200px){
    .Header{
        font-size: small;
    }

    .headerTitle{
        margin: 2px 0 2px 5px;
    }

    .headerLinks{
        margin-right: 0;
    }
}

@media(min-width: 910px){
    .Header{
        font-size: large;
    }
    
    .headerTitle{
        margin: 5px 0 5px 15px;
    }
    
    .headerLinks{
        margin-right: 30px;
    }
    
    .headerLinks h3{
        margin-right: 10px;
    }
}